@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.App{
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/**
*   Navbar
*/

nav{
    display: flex;
    padding: 1em 4em 1em 4em;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.5em;
    color: #232323;
    width: 90%;
}

.nav-title{
    color: #232323;
    text-decoration: none;
    transition: all 1s linear;
    cursor: pointer;
}

.nav-title:hover{
    opacity: 0.8;
    transition: all 1s linear;
}

.nav-buttons{
    display: flex;
    gap: 1em;
    align-items: center;
}

.btn-one{
    background-color: #FFFFFF;
    border: none;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    color: #232323;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s linear;
}

.btn-one:hover{
    border-bottom: 1px solid #232323;
    transition: all 0.3s linear;
}

.btn-two{
    background-color: #232323;
    font-family: 'Source Code Pro', monospace;
    padding: 1em;
    border: none;
    color: #FFFFFF;
    border-radius: 0.7em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn-two:hover{
    background-color: #232323c6;
    transition: all 0.3s linear;
}

.nav-user{
    font-size: small;
    letter-spacing: 2px;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
}

.nav-user h2 {
    cursor: pointer;
}

.nav-user div {
    position:absolute;
    top: 5em;
    background-color: rgb(240, 240, 240);
    width: 15em;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    height: 3em;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.nav-user div.open-down{
    max-height: 50px;
}

.logout-img {
    width: 1.5em;
    background-color: rgb(240, 240, 240);
}

.logout-btn {
    background: rgb(240, 240, 240);
    border: none;
    padding: 0.5em 1em 0.5em 1em;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    color: #232323;
    cursor: pointer;
    transition: all 0.2s linear;
}

.logout-btn:hover {
    transition: all 0.3s linear;
    font-weight: 600;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      padding: 1em;
    }
    
    .nav-buttons {
      flex-direction: column;
      gap: 0.5em;
    }
    
    .nav-user {
      flex-direction: row;
    }
    
    .nav-user div {
      position: static;
      max-height: none;
      width: 100%;
      gap: 0em;
    }

    .logout-img,.logout-btn, .nav-user div {
        background-color: #FFFFFF;
    }
  }


/**
*   Home Page
*/

.home{
    display: flex;
    justify-content: center;
    width: 80%;
}

.home-txt{
    display: flex;
    flex-direction: column;
    margin: 8em 2em 0 4em;
    width: 100%;
}

.home-txt h3 {
    font-weight: bold;
    letter-spacing: 2px;
}

.home-txt p {
    width: 70%;
    letter-spacing: 1px;
}

.home-txt-btn {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 2em;
}

.home-txt-btn-one{
    padding: 1em 2em 1em 2em;
    background-color: #232323;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #FFFFFF;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3s linear;
}

.home-txt-btn-two{
    padding: 1em 2em 1em 2em;
    background-color: #FFFFFF;
    color: #232323;;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #232323;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3s linear;
}

.home-txt-btn-one:hover{
    background-color: #232323c6;
    border: 1px solid #232323c6;
    transition: all 0.3s linear;
}

.home-txt-btn-two:hover{
    background-color: rgb(200, 200, 200);
    color: #FFFFFF;
    border: 1px solid rgb(200, 200, 200);
    transition: all 0.3s linear;
}

.model-home{
    margin-top: 2em;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .home {
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
    }
    
    .home-txt {
      margin: 4em 1em 0 1em;
      width: 90%;
    }
    
    .home-txt p {
      width: 100%;
    }
    
    .home-txt-btn {
      justify-content: center;
      margin-top: 2em;
    }

    .model-home{
        height: 30em;
    }

    .App{
        margin-bottom: 2em;
    }
  }

/**
*   Login / Signup
*/

.login{
    display: flex;
    align-items: center;
}

.login-form{
    border: 1px solid #232323;
    padding: 3em;
}

.signup-form{
    border: 1px solid #232323;
    padding-left: 3em;
    padding-right: 3em;
    height: 80%;
}

.login-form h3 {
    text-align: center;
    margin-bottom: 2em;
    letter-spacing: 2px;
}

.signup-form h3 {
    text-align: center;
    letter-spacing: 2px;
}

.login-form p {
    font-size: 12px;
    text-align: center;
}

.signup-form p {
    font-size: 12px;
    text-align: center;
}

.login-form p a {
    color: green;
    text-decoration: none;
}

.signup-form p a {
    color: green;
    text-decoration: none;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 2px;
}

.inputs h4 {
    margin-bottom: 0.5em;
}

.inputs input{
    width: 21em;
    height: 2em;
    padding-left: 1em;
    letter-spacing: 1px;
}

.inp-subj input{
    width: 2em;
}

.inputs button {
    padding: 1em 2em 1em 2em;
    background-color: #232323;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #FFFFFF;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-top: 2em;
    margin-left:30%
    
}

.inputs button:hover{
    background-color: #232323c6;
    border: 1px solid #232323c6;
    transition: all 0.3s linear;
}

.radio-button {
    display: inline-block;
    position: relative;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    cursor: pointer;
    /* user-select: none; */
  }
  
  .radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .radio-button input[type="radio"]:checked + .button-label {
    color: green;
  }

  .radio-button input[type="radio"]:checked ~ .radio-button {
    border: 1px solid #232323;
  }
  
  .button-label {
    font-size: 1em;
    font-weight: bold;
  }
  
.inp-role{
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
}

.inp-subj{
    display: flex;
    flex-direction: column;
    width: 20em;
    justify-content: center;
}

.inp-subj label{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
}

.inp-year{
    display: flex;
    align-items:flex-end;
    gap: 0.5em;
}

.model-login{
    height: 20em;
    width: 20em;
}

@media only screen and (max-width: 768px) {
    .login {
      align-items: flex-start;
      flex-direction: column;
      align-items: center;
      height: 100vh; /* Set a fixed height to enable scrolling */
      overflow-y: auto; /* Allow vertical scrolling */
    }
  
    .model-login {
      order: -1;
      margin-bottom: 2em;
    }
  
    .login-form,
    .signup-form {
      padding: 2em;
    }
  }
  

/**
*   Main Content
*/

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; 
    padding: 1em;
    height: 100%;
    /* flex-wrap: wrap;  */
  }
  
  .main-plata {
    width: 50%;
    text-align: center;
    margin-bottom: 2em; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-plata>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 1em;
  }
  
  .model-main {
    width: 50%;
    height: auto; 
    height: 30em;
    /* background-color: red; */
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    margin-bottom: 2em; 
    /* background-color: yellow; */
    padding: 2em;
  }
  
  .text-content h2 {
    color: #d4b9ff;
  }
  
  .text-content p {
    margin-bottom: 2em;
    text-align: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
    /* background-color: green; */
    width: 50%;
    padding: 1em;
  }
  
  .buttons button {
    width: 100%;
    padding: 1em;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 2px;
    background-color: #d4b9ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  
  .buttons button:hover {
    transition: all 0.3s linear;
    opacity: 0.9;
    color: #FFFFFF;
  }
  
  .content-next {
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    align-items: center;
    width: 100%;
    text-align: center;
    border: 1px solid #232323;
    border-radius: 2em;
    letter-spacing: 0.5em;
  }
  
  .content-minus {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    transition: all 0.5s linear;
    padding-right: 1em;
    border-right: 1px solid #232323;
  }
  
  .content-plus {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    transition: all 0.5s linear;
    padding-left: 1em;
    border-left: 1px solid #232323;
  }
  
  .content-next button:hover {
    color: #d4b9ff;
    transition: all 0.5s linear;
  }
  
  @media only screen and (max-width: 768px) {

    .main{
        flex-direction: column;
        width: 90%;
    }

    .text-content {
        width: 100%;
    }

    .model-main{
        width: 100%;
        height: 20em;
    }

  }
  

/**
*   Learn Section
*/

.learn-div {
    padding: 1em 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    border: 2px solid #232323;
    width: 60em;
  }
  
  .learn-div a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #232323;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
    transition: all 0.3s ease-in;
  }
  
  .learn-div a:hover {
    transition: all 0.3s ease-in;
    border-bottom: 1px solid #232323;
    letter-spacing: 2px;
  }
  
  .learn-div iframe {
    border-radius: 1.5em;
    border: 2px solid #232323;
    transition: all 0.3s ease-in;
    width: 80%;
  }
  
  .learn-div iframe:hover {
    transition: all 0.3s ease-in;
    border-radius: 1em;
    border: 2px solid #FFFFFF;
  }
  
  .learn-page-div {
    display: flex;
    flex-wrap: wrap;
  }
  
  .learn-btns-add {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
  }
  
  .learn-btns-add button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-top: 2px solid #232323;
    border-bottom: 2px solid #232323;
    border-right: 2px solid #232323;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    width: 4em;
    height: 4em;
  }
  
  .learn-btns-add button:nth-child(1):hover {
    background-color: azure;
  }
  
  .learn-btns-add button:nth-child(2):hover {
    background-color: #ffc9c9;
  }
  
  .learn-btns-add button:nth-child(3):hover {
    background-color: bisque;
  }
  
  .learn-btns-add button img {
    width: 3em;
  }
  
  .div-of-bot {
    transition: all 0.3s ease-in;
    border-top: 2px solid #232323;
    border-bottom: 2px solid #232323;
    border-right: 2px solid #232323;
    padding: 1em;
    width: 20em; 
    height: 30em; 
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 0 1em 1em 0;
  }
  
  .head-div-bot {
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }
  
  .head-div-bot img {
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
  
  .mid-div-bot {
    width: 100%;
    height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .foot-div-bot {
    display: flex;
    align-items: center;
  }
  
  .foot-div-bot textarea {
    width: 100%; 
    height: 5em;
    letter-spacing: 1.5px;
    resize: none;
    border: 1px solid #232323;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 0.5em 0.5em;
  }
  
  .foot-div-bot img {
    width: 2em;
    cursor: pointer;
    border: 1px solid #232323;
    padding: 1.3em 0.3em;
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
  
  .mid-div-bot h4 {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .mid-div-bot h4 img {
    width: 1em;
  }
  
  .clear-bot-conv {
    width: 1.5em;
    cursor: pointer;
    margin-left: 18.5em;
    margin-top: 0.5em;
  }
  
  .messages-container {
    height: 100%;
    overflow-y: auto;
  }
  
  .div-of-pom {
    width: 20em;
    height: auto; 
    border-top: 2px solid #232323;
    border-bottom: 2px solid #232323;
    border-right: 2px solid #232323;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  
  .head-div-pom {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .head-div-pom img {
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
  
  .mid-div-pom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mid-div-pom h2 {
    letter-spacing: 0.3em;
  }
  
  .select-timer-pom {
    display: flex;
    gap: 1em;
  }
  
  .select-timer-pom button {
    width: 10em;
    border: none;
    letter-spacing: 1px;
    border-bottom: 1px solid #FFFFFF;
    transition: all 0.3s ease-in;
  }
  

  .select-timer-pom button:hover {
    transition: all 0.3s ease-in;
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #232323;
    border-radius: 0;
  }
  
  .foot-div-pom {
    display: flex;
    gap: 1em;
  }
  
  .foot-div-pom img {
    width: 2em;
    cursor: pointer;
  }
  
  .div-of-not {
    width: 20em; 
    height: 30em; 
    padding: 1em;
    border-top: 2px solid #232323;
    border-bottom: 2px solid #232323;
    border-right: 2px solid #232323;
    border-radius: 0 1em 1em 0;
  }
  
  .mid-div-not {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mid-div-not input {
    border: none;
    border-bottom: 1px solid #232323;
    letter-spacing: 2px;
    width: 90%;
    text-align: center;
    padding: 0.5em 0;
  }
  
  .mid-div-not textarea {
    width: 100%; 
    height: 25em;
    letter-spacing: 1.5px;
    resize: none;
    border: 1px solid #232323;
    border-radius: 5px;
    padding: 0.5em 0.5em;
  }
  
  .foot-div-not {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    gap: 1em;
  }
  
  .foot-div-not > button {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #232323;
    border-radius: 1em;
    padding: 0 1em;
    width: 15em;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .foot-div-not > button:hover {
    transition: all 0.3s ease-in;
    background-color: #FFFFFF !important;
    border: 1px solid #232323;
    color: #232323;
  }
  
  .foot-div-not > img {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .learn-div {
      padding: 0.5em 1em;
      gap: 1em;
      width: 25em;
    }
  
    .learn-div a {
      letter-spacing: 1px;
    }
  
    .div-of-bot {
      margin-left: 2em;
      padding: 0.5em;
      width: 15em;
      border: none;
      border-left: 2px solid #232323;
      border-bottom: 2px solid #232323;
      border-right: 2px solid #232323;
      border-radius: 0 0 10px 10px ;
    }

    .clear-bot-conv{
      margin-left: 13em;
    }

    .foot-div-bot img {
      width: 1em;
      padding: 1.03em 0.5em;
    }
  
    .head-div-bot {
      gap: 0.5em;
    }
  
    .mid-div-bot {
      max-height: 15em;
    }

    .select-timer-pom > button{
      border: none !important;
      border-bottom: 2px solid #232323 !important;
    }
  
    .foot-div-bot textarea {
      width: 100%;
      height: 3em;
    }
  
    .div-of-pom {
      width: 100%;
      padding: 0.5em;
      gap: 0.5em;
      border: none;
      border-left: 2px solid #232323;
      border-bottom: 2px solid #232323;
      border-right: 2px solid #232323;
      border-radius: 0 0 10px 10px ;
    }
  
    .head-div-pom {
      gap: 0.5em;
    }
  
    .mid-div-pom h2 {
      letter-spacing: 0.2em;
    }
  
    .select-timer-pom button {
      width: 8em;
    }
  
    .div-of-not {
      width: 100%;
      padding: 0.5em;
      border: none;
      border-left: 2px solid #232323;
      border-bottom: 2px solid #232323;
      border-right: 2px solid #232323;
      border-radius: 0 0 10px 10px ;
    }
  
    .mid-div-not textarea {
      width: 100%;
      height: 25em;
    }

    .learn-btns-add{
        flex-direction: row;
        margin-left: 0em;

    }

    .learn-btns-add button {
        border: none;
        border-left: 2px solid #232323;
        border-bottom: 2px solid #232323;
        border-right: 2px solid #232323;
        border-radius: 0 0 10px 10px ;

      }
  }
  
/**
*   Admin Main
*/

.admin-main {
    width: 80%;
}

 .admin-title-table {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    
}
 .admin-list {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.admin-list button {
    margin: auto;
    width: 50%;
    height: 50%;
    letter-spacing: 2px;
    background-color: #FFFFFF;
    border: 1px solid #232323;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s ease-in;
}

.pay-teachers-btn{
  background-color: rgba(0,0,0,0);
  border: 1px solid #232323;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s ease-in;
    padding: 1em 2em;
    margin-left: 46em;
    letter-spacing: 2px;
}

.pay-teachers-btn strong {
  color: #FFFFFF;
}

.admin-list button:hover, .pay-teachers-btn:hover{
  background-color: #232323;
  color: #FFFFFF;
  transition: all 0.3s ease-in;
}

.admin-acc:hover{
    font-weight: bold;
    color: green;
    border: 1px solid green;
}

.admin-dec:hover{
    font-weight: bold;
    color: red;
    border: 1px solid red;
}

hr{
    border: 1px solid #232323;
}

.empty-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    letter-spacing: 2px;
    transition: all 0.5s linear;
}

.empty-box img{
    width: 10em;
}

.ad-btns {
  display: flex;
  gap: 2em;
}

.ad-btns > button {
  background-color: #232323;
  border: 1px solid #232323;
  color: #FFFFFF;
  padding: 0.5em 2em;
  border-radius: 2em;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.ad-btns > button:hover {
  background-color: rgba(0,0,0,0);
  color: #232323;
  transition: all 0.3s ease-in;
}


/**
*   Waiting Page
*/
.waiting-page{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
}
.waiting-page h3{
    text-align: center;
}
.waiting-page img{
    width: 10em;
}

.waiting-page div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.send-email{
    background: #232323;
    color: #FFFFFF;
    border: 1px solid #232323;
    border-radius: 2px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}

.send-email:hover{
    opacity: 0.75;
    transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
    .waiting-page {
      width: 80%;
    }
  
    .waiting-page img {
      width: 8em;
    }
  }

/**
*   Course Upload
*/
.courseUpload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border: 1px solid #232323;
    padding: 1em;
    letter-spacing: 2px;
}

.courseUpload label {
    display: flex;
    gap: 1em;
}

.courseUpload h2 {
    display: flex;
    gap: 0.5em;
}

.denumiremtf {
    color: green;
}

.ytlink-upl{
    border: none;
    border-bottom: 1px solid #232323;
    width: 20em;
    padding: 0.5em 0 0 0.5em;
    letter-spacing: 2px;
}

.courseUpload button {
    background-color: #232323;
    color: #FFFFFF;
    letter-spacing: 2px;
    border: 2px solid #232323;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Source Code Pro', monospace;
}

.upl-btn:hover {
    transition: all 0.3s ease-in;
    background-color: #FFFFFF;
    color: green;
    border: 2px solid green;
}

.bck-btn:hover{
    transition: all 0.3s ease-in;
    background-color: #FFFFFF;
    color: #232323;
}

.upload-btns{
    display: flex;
    gap: 2em;
}

.file-upl{
    display: none;
    
}

.upl-file{
    cursor: pointer;
    border: 2px solid #232323;
    padding: 1em;
    width: 22em;
    align-items: center;
    transition: all 0.5s ease-in;
    border-radius: 5px;
}

.upl-file-uploaded{
    cursor: pointer;
    border: 2px solid green;
    background: rgba(0, 128, 0, 0.299);
    padding: 1em;
    width: 22em;
    align-items: center;
    transition: all 0.5s ease-in;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.upl-file img, .upl-file-uploaded img {
    width: 1.5em;
}

.upl-file:hover, .upl-file-uploaded:hover {
    transition: all 0.5s ease-in;
    background-color: #ebebeb;
    border-radius: 20px;
    color: #232323;
}

.attention-div{
    background: rgba(255, 0, 0, 0.272);
    padding: 0 1em 0 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1em;
}

.attention-div img {
    width: 2em;
    height: 2em;
}

@media screen and (max-width: 768px) {
    .courseUpload {
      width: 80%;
    }

    .courseUpload h2 {
        flex-direction: column;
        text-align: center;
    }
  
    .ytlink-upl {
      width: 100%;
    }
  
    .upload-btns {
      flex-direction: column;
    }
  
    .upl-file,
    .upl-file-uploaded {
      width: 95%;
    }
  }

/**
*   Create QUIZ
*/

.create-quiz {
    border: 1px solid #232323;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.create-quiz button img {
    width: 2em;
}

.quiz-btn-add {
    display: flex;
    align-items: center;
    gap: 1em;
    border: 1px solid #232323;
    background-color: #FFFFFF;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;
    padding: 0.5em 0 0.5em 1em;
    border-radius: 25px;
    color: #232323;
    cursor: pointer;
    width: 15em;
    margin-top: 1em;
}

.quiz-btn-add:hover {
    font-weight: 600;
    background-color: #efefef;
}

.quiz-add-answ-btn {
    background: #FFFFFF;
    border: none;
    border-bottom: 1px solid #232323;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    margin-top: 1em;
}

.quiz-add-answ-btn:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

.quiz-que-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

.quiz-que-btn:hover {
    border-bottom: 2px solid #232323 ;
    background: #ffc9c9;
}

.quiz-btn-create {
    background: #232323;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 2px;
    border-radius: 2em;
    width: 20em;
    margin-top: 1em;
    border-radius: 1px solid #FFFFFF;
    cursor: pointer;
}

.quiz-btn-create img {
    width: 1.5em;
}

.quiz-btn-create:hover{
    transition: all 0.3s ease-in;
    font-weight: 600;
    background-color: #535353;
}

.quiz-que-div, .quiz-answ-div{
    margin-top: 0.5em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.quiz-answ-div input[type=text]{
    border: none;
    border-bottom: 1px solid #232323;
    letter-spacing: 2px;
    padding-left: 0.5em;
}

.quiz-que-div input[type=text]{
    width: 20em;
    border: 1px solid #232323;
    padding: 0.5em 0 0.5em 0.5em;
    border-radius: 5px;
    letter-spacing: 2px;

}

.bck-btn{
    border: 1px solid #232323;
    padding: 1em;
    background-color: #535353;
    color: #FFFFFF;
    border-radius: 2em;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 2px;
    margin-top: 1em;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.quiz-btns {
    display: flex;
    align-items: center;
    gap: 2em;
    
}

@media screen and (max-width: 768px) {
    .create-quiz {
        width: 90%;
    }
}

/**
*   List Courses
*/

.cours-list{
    display: flex;
    align-items: center;
    color: #232323;
    gap: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid #232323;
    letter-spacing: 2px;
    cursor: pointer;
}

.cours-list:hover{
    color: blue;
    border: 1px solid blue;
}

.list-cours{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**
*   Practice Page
*/

.practice-div {
    width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-base{
    border: 3px solid #535353;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30em;
}

.quiz-raspunsuri{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.quiz-btns{
    display: flex;
    justify-content: space-between;
}

.quiz-btns > button {
    background-color: #232323;
    border: 1px solid #232323;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.quiz-btns > button:hover{
    transition: all 0.3s ease-in;
    color: #232323;
    background-color: #FFFFFF;
}

.quiz-raspuns >input[type="radio"]{
    display: none;
}

.quiz-raspuns > label {
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.quiz-raspuns > label:hover{
    background-color: #53535310;
}

.quiz-raspuns >input[type="radio"]:checked + label {
    background-color: #53535356;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .practice-div {
      width: 90%;
      padding: 1em;
    }
  
    .quiz-base {
      width: 100%;
    }
  }

/**
*   Check Answers Page
*/

.check-answ-div{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.check-answ-div > h1 {
    letter-spacing: 2px;
}

.correct-div{
    border: 3px solid green;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 25em;
}

.wrong-div{
    border: 3px solid rgb(173, 2, 2);
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 25em;
}

.correct-div > h3, .wrong-div > h3, .correct-div > h4, .wrong-div > h4 {
    margin: 0;
    margin-bottom: 0.5em;
}

.correct-div > h3 {
    border-bottom: 1px solid green;
}

.wrong-div > h3 {
    border-bottom: 1px solid rgb(173, 2, 2);
}

.answers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

.check-ans-btns{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.check-ans-btns > button {
    background-color:#232323;
    color: #FFFFFF;
    border: 1px solid #232323;
    padding: 1em 3em;
    letter-spacing: 2px;
    border-radius: 1em;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.check-ans-btns > button:hover{
    background-color: #FFFFFF;
    color: #232323;
    transition: all 0.3s ease-in;
}

@media only screen and (max-width: 768px) {
    .correct-div,
    .wrong-div {
      width: 90%;
    }
  
    .answers-grid {
      grid-template-columns: 1fr;
    }
  
    .check-ans-btns {
      flex-direction: column;
      width: 100%;
    }
  
    .check-ans-btns > button {
      width: 100%;
      padding: 1em 0;
    }
  }

  /**
  *   Test Results
  */

  .test-result-div{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result-test-table{
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
  }

  .result-test-table > h3 {
    text-align: center;
    /* background-color: yellow; */
    width: 10em;
  }

  .result-test-table > h4:nth-child(3){
      margin-left: 7em;
  }

  .test-result-div > hr {
    width: 100%;
  }
 
